{% extends 'headerfooter.html' %}
 {% load crispy_forms_tags %}
{% block content %}



<div class="full_width main_content">

                    <div class="shopping_main">
                        <div class="home-one"> 
                          <!--   
                            <nav class="navbar navbar-default navbar-mobile light bootsnav">
			<div class="container">
			
			
				<div class="collapse navbar-collapse" id="navbar-menu">
				
					<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Menu one</a></li>
                        <li><a href="#">Menu Two</a></li>
						
					
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Post your resume</a></li>
					
					</ul>
						
				</div>
			</div>   
		</nav> -->
                
                            <div class="full_width fotrm_main">
			<div class="container">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
				<form class="c-form" action="{% url 'rsave' %}" method="post" enctype="multipart/form-data" id="testimonial_form">
					{% csrf_token %}
					<div class="box">
<div class="box-header">
<h4>Personal Details</h4>
</div>
<div class="box-body">
<div class="row">
<div class="col-sm-4">
<label>First Name</label>
    {{ form.first_name}}
</div>
<div class="col-sm-4">
    <label>Last Name</label>
    {{ form.last_name}}
</div>
<div class="col-sm-4">
<label>Email</label>
{{ form.email}}
</div>
<div class="col-sm-4">
<label>Mobile no</label>
    {{ form.mobile_number }}
</div>



<div class="col-sm-4">
<label>Upload Resume</label>
<!--data-parsley-res_img=""-->
{{ form.resume }}

</div>
<div class="col-sm-4">
<label>Passport</label>
{{ form.passport }}
</div>
<div class="col-sm-4">
<label>Address</label>
    {{ form.address}}
</textarea>
</div>
<div class="col-sm-4">
<label>Location</label>
    {{ form.city}}
</div>
<!--
<div class="col-sm-4">
<label>State</label>
<input type="text" class="form-control" placeholder="state" name="state" value="">
</div>
<div class="col-sm-4">
<label>Country</label>
<select class="wide form-control" name="country">
<option value="">Select</option>
<option value="India" >India</option>
<option value="United Kingdom" >United Kingdom</option>
<option value="Austrailia" >Austrailia</option>
<option value="New ZeLand" >New ZeLand</option>
</select>
</div>-->
<div class="col-sm-4">
<label>Father's Name</label>
{{ form.father_name}}
</div>
<div class="col-sm-4">
<label>Hobbies(With Comma)<span style="color:red;">Ex:Reading books,Playing Cricket</span></label>
    {{ form.hobbies}}
</div>
<div class="col-sm-4">
<label>Languages Known<span style="color:red;">Ex:Telugu,Hindi,English</span></label>
    {{ form.languages_known}}
</div>
<div class="col-sm-4">
<label>Gender</label>
{{ form.gender}}
</div>
<div class="col-sm-4">
<label>Marital Status</label>
{{ form.marital_status}}
</div>
<div class="col-sm-12">
<label>Career</label>
{{ form.career}}
</div>
</div>
</div>
</div>
<div class="box">
<div class="box-header">
<h4>Job Preferences</h4>
</div>
<div class="box-body">
<div class="row">
<div class="col-sm-4">
<label>Desired Job Title</label>
{{ form.desired_job_title}}

</div>
<div class="col-sm-4">
<label>Desired Job Type</label>
    {{ form.desired_job_type}}

</div>
<div class="col-sm-4">
<label>Desired Designantion</label>
{{ form.designation }}

</div> 

<div class="col-sm-4">
<label>Expect Package</label>
{{ form.expect_package}}

</div>
<div class="col-sm-4">
<label>Desired Shift</label>
{{ form.desired_shift}}

</div>
<div class="col-sm-4">
<label>Desired Location</label>
    {{ form.desired_location}}

</div>
<div class="col-sm-4">
<label>Desired Industry</label>
{{ form.desired_industry}}

</div>
<div class="col-sm-4">
<label>Availability to Join</label>
{{ form.availability_to_join}}

</div>
</div>
</div>
</div>
<div class="box">
<div class="box-header">
<h4>Add Qualification</h4>
</div>
<div class="box-body">
<div class="extra-field-box">
<div class="multi-box" id="add_qualification">	
<div class="dublicat-box mrg-bot-40">
<div class="row">
<div class="col-sm-6">
<label>Qualification</label>
{{ form.qualification}}
</div>
<div class="col-sm-6">
<label>University/College Name/School Name</label>
{{ form.university_name_collage_name_school_name}}
</div>

<div class="col-sm-6">
<label>Year Of Passing</label>
    {{ form.year_of_passing}}
</div>
<div class="col-sm-6">
<label>Percentage or CGPA</label>
    {{ form.percentage}}
</div>
</div>
</div>
<script>
$(document).ready(function(){
$(".del_div").click(function(){
$(this).parents(".dublicat-box").hide();
});
});
</script></div>
<div class="text-center">
<button type="button" class="btn theme-btn" Onclick="Add_more('add_qualification');">Add More</button>
</div>
</div>
</div>
</div>
<div class="box">
<div class="box-header">
<h4>Add Skills</h4>
</div>
<div class="box-body">
<div class="extra-field-box">
<div class="multi-box" id="add_skills">	<div class="dublicat-box mrg-bot-40">
<div class="row">
<div class="col-sm-12">
<label>Skill(s)</label>
    {{ form.skills}}
</div>
<div class="col-sm-6">
<label>Experience</label>
{{ form.experience}}
</div> 
<div class="col-sm-6">
<label>Company name</label>
    {{ form.company_name}}
</div>
<div class="col-sm-12">
<label>Job Description</label>
{{ form.job_description}}
</div>
</div>
</div>
<script>
$(document).ready(function(){
$(".del_div").click(function(){
$(this).parents(".dublicat-box").hide();
});
});
</script></div>
<div class="text-center">
<button type="button" class="btn theme-btn" Onclick="Add_more('add_skills');">Add More</button>
</div>
</div>
</div>
</div>
<div class="box">
<div class="box-header">
<h4>Social Accounts</h4>
</div>
<div class="box-body">
<div class="row">

<div class="col-sm-4">
<label><i class="fa fa-facebook mrg-r-5"></i>Facebook</label>
    {{ form.facebook_account}}
</div>

<div class="col-sm-4">
<label><i class="fa fa-google-plus mrg-r-5"></i>Google +</label>
    {{ form.google_account}}
</div>

<div class="col-sm-4">
<label><i class="fa fa-twitter mrg-r-5"></i>Twitter</label>
    {{ form.twitter_account}}
</div>

<div class="col-sm-4">
<label><i class="fa fa-linkedin mrg-r-5"></i>LinkedIn</label>
    {{ form.linkedin_account}}
</div>

<div class="col-sm-4">
<label><i class="fa fa-pinterest mrg-r-5"></i>Pinterest</label>
    {{ form.pinterest_account}}
</div>

<div class="col-sm-4">
<label><i class="fa fa-instagram mrg-r-5"></i>Instagram</label>
    {{ form.instagram_account}}
</div>
</div>
</div>
</div> 
					
					<div class="text-center">
						<button type="submit" class="btn btn-m theme-btn">Submit</button>
					</div>
					
				</form>
                    </div>
                </div>
			</div>
		</div>
                        </div>
                    </div>
</div>



           {% endblock %}