
   {% extends 'headerfooter2.html' %}
{% block content %}
    {% load static %}
         <section>
		 <div class="container-fluid">      
		 <div class="row">      
		 
			<div class="" >
			 <div class="main-banner" style="background-image:url({% static 'assets/img/slider-2.jpg' %});">
				</div> 
				<!-- <img src="assets/img/slider-2.jpg" class="main-banner" /> -->
			</div>
			</div>
			</div>
         <div class="container">
         <div class="row">
		 <div class="search-bg">
		 

					<!-- 
					
<div class="search-btn-bg text-center">
						<a href="index.html" class="btn theme-btn">For Job Seeker</a>
						<a href="index2.html" class="btn theme-btn1">For Employer</a>
					</div>
					
					<ul class="search-btn-bg nav nav-tabs" id="myTab" role="tablist">
  <a href="index.html"><li class="nav-item">
    <a class="btn theme-btn nav-link active" id="home-tab" data-toggle="tab" href="index.html" role="tab" aria-controls="home" aria-selected="true">For Job Seeker</a>
  </li><a>
  <a href="index2.html"><li class="nav-item">
    <a class="btn theme-btn1 nav-link" id="profile-tab" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">For Employer</a>
  </li></a>
  
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
<div class="search-btn-bg text-center">
						<a href="index.html" class="btn theme-btn">For Job Seeker</a>
						<a href="index2.html" class="btn theme-btn1">For Employer</a>
					</div> -->
					<form action="{% url 'emp_bemp' %}" method="post">
                    {% csrf_token %}
						<fieldset class="home-form-1 icon-field">
							<div class="col-md-4 col-sm-4 padd-0">
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<input type="text" class="form-control br-1" placeholder="Skills" name="skills">
										<label class="fa fa-pencil"></label>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 padd-0">
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<select class="wide form-control br-1" name="city">
											<option data-display="Location"></option>
											{% for x in city %}
											<option value="{{ x.id }}">{{ x.city }}</option>
											{% endfor %}
										</select>
										<label class="fa fa-map-marker"></label>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 padd-0">
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<select class="wide form-control" name="exp">
                                        <option data-display="Experience"></option>
                                        {% for x in exp %}
											<option value="{{ x.id }}">{{x.experience}}</option>
                                            {% endfor %}
										</select>
										<label class="fa fa-crosshairs"></label>
									</div>
								</div>
							</div>
							<div class="col-md-1 col-sm-1 padd-0">
							
								<input type="submit"  value="FIND Employer" class="btn theme-btn" >
							</div>
						</fieldset>
					</form>

				</div>
				</div>
				</div>
				</section>
				<section class="why_choose_us">
<div class="container">
<div class="row aos-init aos-animate" data-aos="fade-up">
<div class="col-md-12">
<div class="heading">
<h3>Why choose CrazyMarJobs</h3>
</div>
</div>
</div>
<div class="">
<!-- Single Features -->
<div class="col-md-4 col-sm-4">
<div class="features-box">
<i class="theme-cl ti-headphone-alt" aria-hidden="true"></i>
<h4>Industry leader</h4>
<p>India’s no. 1 hiring platform for blue collar and entry level white collar roles.</p>
</div>
</div>
<div class="col-md-4 col-sm-4">
<div class="features-box">
<i class="theme-cl ti-briefcase" aria-hidden="true"></i>
<h4>Large database</h4>
<p>1 Crore+ active resumes across diverse 500+ roles are registered on QuikrJobs.</p>
</div>
</div>
<div class="col-md-4 col-sm-4">
<div class="features-box">
<i class="theme-cl ti-paint-bucket" aria-hidden="true"></i>
<h4>Hire 2X faster</h4>
<p>Get fast, easy, affordable solutions to help you find the right people, for the right jobs</p>
</div>
</div>
</div>
</div>
</section>
				<section class="catehpru_choose trending_indur">
<div class="">
<div class="" data-aos="fade-up">
<div class="col-md-12">
<div class="heading">
<h3>Trending Industries</h3>
</div>
</div>
</div>
<div class="container">
	{% for x in ind %}
		<div class="col-md-4 col-sm-6">
		<div class="blog-box blog-grid-box">
		<a href="{% url 'indfilter' x.id  %}">
		<div class="blog-grid-box-img">
		<img src="{{x.indimg.url}}" class="img-responsive" alt="" />
		</div>
		<div class="blog-grid-box-content">
		<h4>{{x.industry}}</h4>
		<ul class="rend_indlist">
		
		</ul>
		</div>
        </a>
		</div>
		</a>
		</div>
	{% endfor %}

</div>
</div>
</section>
                            <section class="gray-bg catehpru_choose catehpru_choose2">
                                <div class="row" data-aos="fade-up">
					<div class="col-md-12">
						<div class="heading">
							<h3>We Can Help You Get A Job</h3>
						</div>
					</div>
				</div>
				<div class="">
{% for x in jtype %}
                    <div class="col-md-15 col-sm-3">
                        <div class="grid-job-widget">

                            <div class="u-content">
                                <div class="avatar box-80">
                                    <a href="{% url 'typefilter' x.id %}">
                                        <img class="img-responsive" src="{{x.jobimg.url}}" alt="">
                                    </a>
                                </div>
                                <h5><a href="{% url 'typefilter' x.id %}">{{x.jobtype}}</a></h5>
                            </div>

                            <div class="job-type-grid">
                                <a href="{% url 'typefilter' x.id %}" class="btn job-browse-btn btn-radius br-light">Open Now</a>
                            </div>

                        </div>
                    </div>
{% endfor %}


			</div>
		</section>
{% endblock %}
