
{% extends 'headerfooter.html' %}
{% block content %}
    {% load static %}
         <section>
		 <div class="container-fluid">      
		 <div class="row">      
		 
			<div class="" >
			 <div class="main-banner" style="background-image:url({% static 'assets/img/slider-2.jpg' %});">
				</div> 
				<!-- <img src="assets/img/slider-2.jpg" class="main-banner" /> -->
			</div>
			</div>
			</div>
         <div class="container">
         <div class="row">
		 <div class="search-bg">
		 
					<form action="{% url 'browse_jobseeker' %}" method="post">
                    {% csrf_token %}
						<fieldset class="home-form-1 icon-field">
							<div class="col-md-4 col-sm-4 padd-0">
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<input type="text" class="form-control br-1" placeholder="Skills" name="skills">
										<label class="fa fa-pencil"></label>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 padd-0">
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<select class="wide form-control br-1" name="city">
											<option data-display="Location"></option>
											{% for x in city %}
											<option value="{{ x.id }}">{{ x.city }}</option>
											{% endfor %}
										</select>
										<label class="fa fa-map-marker"></label>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 padd-0">
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<select class="wide form-control" name="exp">
                                        <option data-display="Experience"></option>
                                        {% for x in exp %}
											<option value="{{ x.id }}">{{x.experience}}</option>
                                            {% endfor %}
										</select>
										<label class="fa fa-crosshairs"></label>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 padd-0">
							
								<input type="submit"  value="FIND JOB" class="btn search_bg_theme_btn" >
							</div>
						</fieldset>
					</form>
					
				</div>
				</div>
				</div>
				</section>
				<section class="catehpru_choose">
			<div class="container">
				<div class="" data-aos="fade-up">
					<div class="col-md-12">
						<div class="heading">
							<h3>Choose Category</h3>
						</div>
					</div>
				</div>

				<div class="">

                    {% for x in cat %}
					<div class="col-md-2 col-sm-2">
                        <a href="{% url 'catgoryfilter' x.id %}">
                            <div class="features-box">
                                <img src="{{x.catimg.url}}">
                                <h4>{{x.cat}}</h4>
                            </div>
                        </a>
					</div>
                    {% endfor %}


                    <div style="text-align: center;" class="col-md-12">
                        <a href="#" class="btn btn-m mrg-5 cust_btn">Show all categories</a>
                    </div>
				</div>
			</div>
		</section>
                            <section class="gray-bg catehpru_choose catehpru_choose2">
                                <div class="row" data-aos="fade-up">
					<div class="col-md-12">
						<div class="heading">
							<h3>We Can Help You Get A Job</h3>
						</div>
					</div>
				</div>
				<div class="">
                    {% for x in jtype %}
                    <div class="col-md-15 col-sm-3">
                        <div class="grid-job-widget">
                            <div class="u-content">
                                <div class="avatar box-80">
                                    <a href="{% url 'jobtypefilter' x.id %}">
                                        <img class="img-responsive" src="{{ x.jobimg.url }}" alt="">
                                    </a>
                                </div>
                                <h5><a href="{% url 'jobtypefilter' x.id %}">{{x.jobtype}}</a></h5>
                            </div>
                            <div class="job-type-grid">
                                <a href="{% url 'jobtypefilter' x.id %}" class="btn job-browse-btn btn-radius br-light">Open Now</a>
                            </div>
                        </div>
                    </div>

    {% endfor %}

{#                      <div class="col-md-15 col-sm-3">#}
{#                            <div class="grid-job-widget">#}
{#                            <div class="u-content">#}
{#                                <div class="avatar box-80">#}
{#                                    <a href="{% url 'browse_jobseeker' %}">#}
{#                                        <img class="img-responsive" src="{% static 'assets/img/c-8.png' %}" alt="">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <h5><a href="{% url 'browse_jobseeker' %}">Internship</a></h5>#}
{#                            </div>#}
{#                            <div class="job-type-grid">#}
{#                                <a href="{% url 'browse_jobseeker' %}" class="btn job-browse-btn btn-radius br-light">Open Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        </div>#}
{#                      <div class="col-md-15 col-sm-3">#}
{#                        <div class="grid-job-widget">#}
{#                            <div class="u-content">#}
{#                                <div class="avatar box-80">#}
{#                                    <a href="{% url 'browse_jobseeker' %}">#}
{#                                        <img class="img-responsive" src="{% static 'assets/img/c-3.png' %}" alt="">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <h5><a href="{% url 'browse_jobseeker' %}">Part time</a></h5>#}
{#                            </div>#}
{#                            <div class="job-type-grid">#}
{#                                <a href="{% url 'browse_jobseeker' %}" class="btn job-browse-btn btn-radius br-light">Open Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        </div>#}
{#                      <div class="col-md-15 col-sm-3">#}
{#                        <div class="grid-job-widget">#}
{#                            <div class="u-content">#}
{#                                <div class="avatar box-80">#}
{#                                    <a href="{% url 'browse_jobseeker' %}">#}
{#                                        <img class="img-responsive" src="{% static 'assets/img/c-7.png' %}" alt="">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <h5><a href="{% url 'browse_jobseeker' %}">Full time</a></h5>#}
{#                            </div>#}
{#                            <div class="job-type-grid">#}
{#                                <a href="{% url 'browse_jobseeker' %}" class="btn job-browse-btn btn-radius br-light">Open Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        </div>#}
{#                      <div class="col-md-15 col-sm-3">#}
{#                        <div class="grid-job-widget">#}
{#                            <div class="u-content">#}
{#                                <div class="avatar box-80">#}
{#                                    <a href="{% url 'browse_jobseeker' %}">#}
{#                                        <img class="img-responsive" src="{% static 'assets/img/c-4.png' %}" alt="">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <h5><a href="{% url 'browse_jobseeker' %}">Government job</a></h5>#}
{#                            </div>#}
{#                            <div class="job-type-grid">#}
{#                                <a href="{% url 'browse_jobseeker' %}" class="btn job-browse-btn btn-radius br-light">Open Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        </div>#}
			</div>
		</section>
{% endblock %}