{% extends 'headerfooter.html' %}
{% block content %}
    {% load static %}
		<div class="full_width propery_listing">
			<div class="container">
				<div class="row">
<div class="col-md-3 col-sm-3">
<div id="sticky-anchor"></div>
<div class="filter_sidebar filtersidebar_menu for_mob_filter sidebar">
<div class="text-center">
<span class="photo_edit text-center">	
<img src="{% static 'img/noimg.jpg' %}" class="img-responsive img-circle">
<div class="image-upload">
    <label for="file-input">
        <img src="https://goo.gl/pB9rpQ"/>
    </label>
    <input id="file-input" type="file"/>
</div>
<!-- <input id="sample_input" type="hidden" name="test[image]"> -->
</span>	
</div>
    <div class="div_welcome">
<h3>Welcome saipoojitha !!</h3>
</div>
	<ul>
	<li class=""><a href="{% url 'myprofilee2' %}">My Profile</a></li>
    <li class=""><a href="{% url 'emp_short_profil' %}">Shortlisted Profiles</a></li>
    <li class=""><a href="{% url 'bookmark' %}">Bookmark Profiles</a></li>
    <li class="active"><a href="{% url 'emp_posted_jobs' %}">Posted Jobs</a></li>
	<li class=""><a href="{% url 'emp_contacted_pro' %}">Contacted Profiles</a></li>
     <li class=""><a href="{% url 'empjobappliers' %}">job appliers</a></li>
    <li class=""><a href="{% url 'empchangepassword' %}">Change Password</a></li>
    <li class=""><a href="{% url 'logout' %}">Logout</a></li>
		</ul>

</div>						
					</div>
					<div class="col-md-9 liting_grid padding_10_right">
					<div class="row">
					<div class="col-md-6"></div>
<div class="col-md-6">
	
	</div>
	</div>
<div class="prop_prop" data-aos="fade-up" data-aos-duration="500">

 <div class="panel panel-default">
    <div class="panel-heading">
    <div class="row">
	
	<div class="col-md-6">
	<h4 class=" personal_details">Personal Details</h4>
	</div>
	{% for prop in res %}
                                    {% if prop.user == request.user %}
	<div class="edit">
	<a href="{% url 'jobedit' id=prop.id %}"><span class="glyphicon glyphicon-edit">	</span>	Edit</a>
	</div>
		{% endif %}
		{% endfor %}
	<div class="col-md-6">
	<div class="edit">
	</div>
	</div>
	</div>
	</div>
    <div class="panel-body">	
    <div class="row">	
	 <div class="col-md-3">
	Company Name
	</div>
	 <div class="col-md-6">
	 :  &nbsp;&nbsp;{{request.user.Createjob.comapnyname}}
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3 ">
	  Company Email
	</div>
	 <div class="col-md-6">
	 :  &nbsp;&nbsp;ravali@mhninformatics.com
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3 ">
	 Company Contact No
	</div>
	 <div class="col-md-6">
	 :  &nbsp;&nbsp;{{request.user.createjob.cnumber}}
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3 ">
	 Company Address line
	</div>
	 <div class="col-md-6">
	 :  &nbsp;&nbsp;{{request.user.Createjob.address}}
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3 ">
	 City: 
	</div>
	 <div class="col-md-6">
	 :  &nbsp;{{request.user.Createjob.city}}
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3 ">
	 State 
	</div>
	 <div class="col-md-6">
	 :  &nbsp;&nbsp;{{request.user.Createjob.state}}
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3 ">
	 Country
	</div>
	 <div class="col-md-6">
	 :  {{request.user.Createjob.Country}}
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3 ">
	 Zip code 
	</div>
	 <div class="col-md-6">
	 :  &nbsp;{{request.user.Createjob.zipcode}}
	</div>
	</div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
    <div class="row">
	
	<div class="col-md-12">
	<h4 class=" personal_details">  Social Accounts</h4>
	</div>
	</div>
	</div>
    <div class="panel-body">	
    <div class="row">	
	 <div class="col-md-4">
	
	 <label>
	 <i class="fa fa-facebook"></i>  Company Facebook :
	 </label>{{request.user.Createjob.facebook}}
	</div>
	 <div class="col-md-4">
	 
	 <label>
	 <i class="fa fa-google"></i>  Company Google :
	 </label>{{request.user.Createjob.google}}
	</div>
	 <div class="col-md-4">	  
	 <label>
	 <i class="fa fa-twitter"></i>  Company Twitter :
	 </label>{{request.user.Createjob.twitter}}
	</div>
	</div>	
    <div class="row">	
	  <div class="col-md-4">
	   
	  <label>
	 
<i class="fa fa-linkedin"></i>  Company LinkedIn :
	 </label>
	 {{request.user.Createjob.linkedin}}
	</div>
	 <div class="col-md-4">  
	  <label>
	 <i class="fa fa-pinterest"></i>  Company Pinterest :
	 </label>
	 {{request.user.Createjob.pinterest}}
	</div>
	 <div class="col-md-4">	  
	  <label>
	 
	 <i class="fa fa-instagram"></i>  Company Instagram :
	 </label>
	 {{request.user.Createjob.instagram}}
	</div>
	</div>	
	</div>
	</div>
  </div>
</div>
						
</div>
					
					<!-- Sidebar -->
					
					
				</div>
                                </div>
                                
                            </div>
                            


		<script>
    $(document).ready(function () {
        $('#sample_input').awesomeCropper(
        { width: 150, height: 150, debug: true }
        );
    });
	</script> 
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
		<script>
function sticky_relocate() {
			    var window_top = $(window).scrollTop() ;
			    var footer_top = $(".footer").offset().top - 30;
			    var div_top = $('#sticky-anchor').offset().top;
			    var div_height = $(".sidebar").height();
			    var leftHeight = $('.left-container').height(); 
  
			    if (window_top + div_height > footer_top){
			        $('.sidebar').removeClass('stick');
			    	$('.sidebar').addClass('abs');
			    	 $('.right-conatainer').css('min-height', leftHeight + 'px');
			    	}
			    else if (window_top > div_top) {
			        $('.sidebar').addClass('stick');
			        $('.sidebar').removeClass('abs');
			    } else {
			        $('.sidebar').removeClass('stick');
			        $('.sidebar').removeClass('abs');
			    }
			}

			$(function () {
			    $(window).scroll(sticky_relocate);
			    sticky_relocate();
			});
</script>
		<script>
		$('#myTab a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		})
		</script>
		
		<script>
			$('#reservation-date').dateDropper();
		</script>
		
		<script>
			$('#date-from').dateDropper();
		</script>
		
		<script>
			$('#date-to').dateDropper();
		</script>
		
		<script>
			$('#e-date-from').dateDropper();
		</script>
		
		<script>
			$('#e-date-to').dateDropper();
		</script>
		
		<script>
			AOS.init();
		</script>
		
{% endblock %}